---
layout: archive
title: "Selected Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
  <p><i class="fas fa-map-marker-alt"></i> See <a href="/talkmap.html">a map</a> of all the places I've given a talk!</p>
{% endif %}

  <p><i class="fa fa-address-book"></i> See <a href="/cv">my CV</a> for a complete list of talks.</p>


<h2>Invited Talks</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Invited Talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Conference Presentations</h2>
{% for post in site.talks reversed %}
  {% if post.type != "Invited Talk" and post.type != "Placeholder" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
